doctype html
html
  head
    title Timestamp microservice
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
    
      block content
      
      footer
        p Made by Merizza Khan 